

/* ul.about .caja {
    border: none;
    background-color: #e0e0e0;
    color: #000000;
    margin: 5px;
    padding: 0px;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: .25em;
}

.caja .img img {
    width: 80px;
    height: 100px;
}

.caja .contenido {
    text-align: center;
}

.caja .contenido .titulo h4 {
    font-size: 20px;
    text-align: center;
}

.caja .contenido .texto {
    font-size: 15px;
    padding-bottom: 20px;
}

.about li {
    background-color: #000000;
    padding: 10px 20px 10px 20px;
    border: 1px solid #000000;
    border-radius: .35rem;
    margin-bottom: 50px;
}

li.me .nombre {
    font-size: 25px;
}

li.me .residencia, li.me .descripcion {
    font-size: 12px;
}

.about h3 {
    font-size: x-large;
    text-align: center;
}

.about h4 {
    font-size: 12px;
    text-align: left;
}

.about .habilidades .progress-bar {
    background-color: #1d1f22;
} */